.row
  .col-md-4
    = image_tag 'client-logos/logo-car-quest.png', class: "content-section-img-responsive img-responsive"
    %a{href: "#", class: "content-section-link"}
      %i.fa.fa-plus-circle.fa-2x
  .col-md-4
    = image_tag 'client-logos/logo-era-living.png', class: "content-section-img-responsive img-responsive"
    %a{href: "#", class: "content-section-link"}
      %i.fa.fa-plus-circle.fa-2x
  .col-md-4
    = image_tag 'client-logos/logo-prudent-property.png', class: "content-section-img-responsive img-responsive"
    %a{href: "#", class: "content-section-link"}
      %i.fa.fa-plus-circle.fa-2x
.row.margin-topgap10
  .col-md-4
    = image_tag 'client-logos/logo-sayre-law-pllc.png', class: "content-section-img-responsive img-responsive"
    %a{href: "#", class: "content-section-link"}
      %i.fa.fa-plus-circle.fa-2x
  .col-md-4
    = image_tag 'client-logos/logo-k2.png', class: "content-section-img-responsive img-responsive"
    %a{href: "#", class: "content-section-link"}
      %i.fa.fa-plus-circle.fa-2x
  .col-md-4
    = image_tag 'client-logos/logo-pacific-research-labs.png', class: "content-section-img-responsive img-responsive"
    %a{href: "#", class: "content-section-link"}
      %i.fa.fa-plus-circle.fa-2x
