= partial "layouts/header_carousel"

.container.call-out-section
  .row
    .col-md-10.col-md-offset-1.col-xs-12
      %h3.call-out-content.text-center
        %i.fa.fa-quote-left
        %i= locals[:page_slogan]
        %i.fa.fa-quote-right

.content-section-a
  .container
    .row
      .col-md-12.col-sm-6
        %h3.section-heading.margin-bottomgap0.med-blue
          Our Company
        %hr.section-heading-spacer/
        .clearfix
        %p.clear-left><
          From the inception, Ron Mitchell has infused a culture that readily prides itself on 3 values:
        %ul.biography-list
          %li
            %b Customer Satisfaction:
            We believe our clients are the reason for our success and know that our clients of today will be our clients of the future

          %li
            %b Integrity:
            We value our entire team and work together to drive client solutions and overall vision
          %li
            %b Safety:
            Safety is our number one priority on all projects for our team and our clients
.content-section-b
  .container
    .row
      .col-md-3.col-sm-6
        %h3.section-heading.margin-bottomgap0.med-blue
          Our Team
        %hr.section-heading-spacer/
        .clearfix
    - data.biographies.each_with_index do |bio, i|
      .row.biography.margin-gap10
        - if i > 0
          %hr.section-body-spacer.margin-bottomgap20
        .col-md-2.col-xs-12
          = image_tag "bio-images/MCI-#{bio['name'].parameterize}-bio.png", class: "biography-image img-responsive", alt: "#{bio['name'].titleize}"
        .col-md-10.col-xs-12
          %h4.biography-title= bio['name']
          %h5.biography-sub-title= bio['title']
          = bio['description'].html_safe
