= partial "layouts/header_carousel"

.container.call-out-section
  .row
    .col-md-12.col-xs-12
      %h3.call-out-content= locals[:page_slogan]


.content-section-b
  .row.service
    -data.services.each do |serv|
      %div{ class: "col-md-4 col-xs-12 service-container #{serv['hide']}" }
        .service-box
          .service-text
            .service-inner
              %i{ class: "fa fa-#{serv['icon']} fa-4x" }
              %h6.service-title= serv['title']
              %ul.service-list
                - unless serv['details'].blank?
                  - serv['details'].each do |details|
                    %li.service-content= details
        %hr.section-body-spacer.visible-xs-block.margin-gap0
