.content-section-a
  .container
    .row
      .col-md-12.col-sm-12
        %h2.section-heading.margin-bottomgap0.med-blue
          Featured Project
    .row.project
      .col-md-3.col-sm-6
        %h3.section-heading.margin-bottomgap0.med-blue
          Project Outline
        %hr.section-heading-spacer/
        .clearfix
        %ul.list-unstyled.project-outline-list
          %li.list-title Client
          %li Some Body
          %li.list-title Architect
          %li Mr. Architect
          %li.list-title Location
          %li Vashon, WA
          %li.list-title Duration
          %li 3 months
          %li.list-title Core Market
          %li Senior Living

      .col-md-8.col-sm-6
        %h3.section-heading.margin-bottomgap0.med-blue
          Project Story
        %hr.section-heading-spacer/
        %p.section-body-text.clear-left
          .col-md-5.pull-right= image_tag "project-images/MCI-senior-living-1.jpg", class: "img-responsive project-image"
          Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Maecenas elementum augue nec nisl. Proin auctor lorem at nibh. Curabitur nulla purus, feugiat id, elementum in, lobortis quis, pede. Vivamus sodales adipiscing sapien. Vestibulum posuere nulla eget wisi. Integer volutpat ligula eget enim. Suspendisse vitae arcu. Quisque pellentesque. Nullam consequat, sem vitae rhoncus tristique, mauris nulla fermentum est, bibendum ullamcorper sapien magna et quam. Sed dapibus vehicula odio. Proin bibendum gravida nisl. Fusce lorem. Phasellus sagittis, nulla in hendrerit laoreet, libero lacus feugiat urna, eget hendrerit pede magna vitae lorem. Praesent mauris.
        %h3.section-heading.margin-bottomgap0.med-blue
          Project Objective
        %hr.section-heading-spacer/
        %p.section-body-text.clear-left
          .col-md-3= image_tag "project-images/MCI-senior-living-2.png", class: "img-responsive project-image"
          Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Maecenas elementum augue nec nisl. Proin auctor lorem at nibh. Curabitur nulla purus, feugiat id, elementum in, lobortis quis, pede. Vivamus sodales adipiscing sapien. Vestibulum posuere nulla eget wisi. Integer volutpat ligula eget enim. Suspendisse vitae arcu. Quisque pellentesque.
        %h3.section-heading.margin-bottomgap0.med-blue
          Project Solution
        %hr.section-heading-spacer/
        %p.section-body-text.clear-left
          .col-md-3.pull-right= image_tag "project-images/MCI-senior-living-2.png", class: "img-responsive project-image"
          Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Maecenas elementum augue nec nisl.    Proin auctor lorem at nibh. Curabitur nulla purus, feugiat id, elementum in, lobortis quis, pede. Vivamus sodales adipiscing sapien. Vestibulum posuere nulla eget wisi. Integer volutpat ligula eget enim. Suspendisse vitae arcu. Quisque pellentesque.

.content-section-b
  .container
    .row
      .col-md-12.col-sm-12
        %h2.section-heading.margin-bottomgap0.med-blue Featured Project
    .row.project
      .col-md-4.col-sm-12
        %h3.project-section-heading.margin-bottomgap0.med-blue Project 1
    .row.project-featured
      .col-md-4.col-xs-12= image_tag "project-images/MCI-steelframing-1.png", class: "img-responsive"
      .col-md-8.col-xs-12
        %h3.section-heading.margin-gap0.med-blue Project Story
        %hr.section-heading-spacer/
        %h4.clear-left Brief sector info that sounds very influential
        %p.section-body-text.clear-left><
          Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Maecenas elementum augue nec nisl. Proin auctor lorem at nibh. Curabitur nulla purus, feugiat id, elementum in, lobortis quis, pede. Vivamus sodales adipiscing sapien.
          %br
          Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Maecenas elementum augue nec nisl. Proin auctor lorem at nibh. Curabitur nulla purus, feugiat id, elementum in, lobortis quis, pede. Vivamus sodales adipiscing sapien.

    .row.project
      .col-md-4.col-sm-12
        %h3.project-section-heading.margin-bottomgap0.med-blue Project 2
    .row.project-featured
      .col-md-4.col-xs-12= image_tag "project-images/MCI-zumiez.png", class: "img-responsive"
      .col-md-8.col-xs-12
        %h3.section-heading.margin-gap0.med-blue Project Story
        %hr.section-heading-spacer/
        %h4.clear-left Brief sector info that sounds very influential
        %p.section-body-text.clear-left><
          Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Maecenas elementum augue nec nisl. Proin auctor lorem at nibh. Curabitur nulla purus, feugiat id, elementum in, lobortis quis, pede. Vivamus sodales adipiscing sapien.
          %br
          Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Maecenas elementum augue nec nisl. Proin auctor lorem at nibh. Curabitur nulla purus, feugiat id, elementum in, lobortis quis, pede. Vivamus sodales adipiscing sapien.
.banner
  .banner-bar
    .container
      .row
        .col-md-12
          %h2 Getting the job done right, the first time...  on time, on budget!