- data.projects.each do |project|
  - if project['featured'] == "true"
    = partial "layouts/projects_carousel", :locals => {:project => project}
    .container.call-out-section
      .row
        .col-md-10.col-md-offset-1.col-xs-12
          %h3.call-out-content.text-center
            %i.fa.fa-quote-left
            %i= locals[:page_slogan]
            %i.fa.fa-quote-right
    .content-section-a
      .container
        .row
          .col-md-12.col-sm-12
            %h2.section-heading.margin-gap0.med-blue
              Featured Project:
              = link_to project['name'], "/projects/#{project['name'].parameterize}", class: "upper-class margin-leftgap10"
        .row.project
          .col-md-3.col-sm-6
            %h3.section-heading.margin-bottomgap0.med-blue
              Project Outline
            %hr.section-heading-spacer/
            .clearfix
            %ul.list-unstyled.project-outline-list
              - unless project['project_name'].blank?
                %li.list-title Project
              %li= project['project_name']
              - unless project['client'].blank?
                %li.list-title Client
              %li= project['client']
              - unless project['architect'].blank?
                %li.list-title Architect
              %li= project['architect']
              - unless project['engineer'].blank?
                %li.list-title Engineer
              %li= project['engineer']
              - unless project['location'].blank?
                %li.list-title Location
              %li= project['location']
              - unless project['duration'].blank?
                %li.list-title Duration
              %li= project['duration']
              - unless project['market_sector'].blank?
                %li.list-title Market Sector
              %li= link_to project['market_sector'], "services#services"
              - unless project['core_market'].blank?
                %li.list-title Core
              - project['core_market'].each do |core|
                %li= core

          .col-md-8.col-sm-6
            %h3.section-heading.margin-bottomgap0.med-blue Project Story
            %hr.section-heading-spacer/
            %p.section-body-text.clear-left
              = image_tag "project-images/MCI-#{project['name'].parameterize}/MCI-#{project['name'].parameterize}-03.jpg", class: "img-responsive project-image col-md-5 pull-right"
              = project['story']
            %h3.section-heading.margin-bottomgap0.med-blue Project Objective
            %hr.section-heading-spacer/
            %p.section-body-text.clear-left= project['objective']
            %h3.section-heading.margin-bottomgap0.med-blue Project Result
            %hr.section-heading-spacer/
            %p.section-body-text.clear-left= project['solution']

-# .content-section-b
-#   .container
-#     .row
-#       .col-md-12.col-sm-12
-#         %h2.section-heading.margin-bottomgap0.med-blue In-Progress Projects
-#     - data.projects.each do |project|
-#       - if project['in_progress_projects'] == "true"
-#         .row.project
-#           .col-md-4.col-sm-12
-#             %h3.margin-bottomgap0= link_to "#{project['name']}","/projects/#{project['name'].parameterize}", class: "project-section-heading med-blue"
-#         .row.project-featured
-#           .col-md-4.col-xs-12
-#             - unless image_check_for("images/project-images/MCI-#{project['name'].parameterize}/").nil?
-#               - image_check_for("images/project-images/MCI-#{project['name'].parameterize}/").take(1).each do |img|
-#                 = image_tag img, class: "img-responsive"
-#             - else
-#               .image-blank
-#                 %span Coming Soon
-#           .col-md-8.col-xs-12
-#             %h3.section-heading.margin-gap0.med-blue Project Story
-#             %hr.section-heading-spacer/
-#             %h4.clear-left= project['headline'].blank? ?  "&nbsp;" : project['headline']
-#             %p.section-body-text.clear-left><
-#               = truncate(project['story'], length: 600)
-#
-#               / = link_to "Learn More","/projects/#{project['name'].parameterize}", class: "margin-leftgap10"
-#
-# .content-section-a
-#   .container
-#     .row
-#       .col-md-12.col-sm-12
-#         %h2.section-heading.margin-bottomgap0.med-blue Upcoming Projects
-#     - data.projects.each do |project|
-#       - if project['upcoming_projects'] == "true"
-#         .row.project
-#           .col-md-4.col-sm-12
-#             %h3.margin-bottomgap0
-#               = link_to "#{project['name']}","/projects/#{project['name'].parameterize}", class: "project-section-heading med-blue"
-#         .row.project-featured
-#           .col-md-4.col-xs-12
-#             - unless image_check_for("images/project-images/MCI-#{project['name'].parameterize}/").nil?
-#               - image_check_for("images/project-images/MCI-#{project['name'].parameterize}/").take(1).each do |img|
-#                 = image_tag img, class: "img-responsive"
-#             - else
-#               .image-blank
-#                 %span Coming Soon
-#           .col-md-8.col-xs-12
-#             %h3.section-heading.margin-gap0.med-blue Project Story
-#             %hr.section-heading-spacer/
-#             %h4.clear-left= project['headline'].blank? ?  "&nbsp;" : project['headline']
-#             %p.section-body-text.clear-left><
-#               = truncate(project['story'], length: 600)
-#               / = link_to "Learn More","/projects/#{project['name'].parameterize}", class: "margin-leftgap10"

.content-section-b
  .container
    .row
      .col-md-12.col-sm-12
        %h2.section-heading.margin-bottomgap0.med-blue Additional Projects
    - data.projects.each do |project|
      - if project['additional_projects'] == "true"
        .row.project
          .col-md-4.col-sm-12
            %h3.margin-bottomgap0
              = link_to "#{project['name']}","/projects/#{project['name'].parameterize}", class: "project-section-heading med-blue"
        .row.project-featured
          .col-md-4.col-xs-12
            - unless image_check_for("images/project-images/MCI-#{project['name'].parameterize}/").nil?
              - image_check_for("images/project-images/MCI-#{project['name'].parameterize}/").take(1).each do |img|
                = image_tag img, class: "img-responsive"
            - else
              .image-blank
                %span Coming Soon
          .col-md-8.col-xs-12
            %h3.section-heading.margin-gap0.med-blue Project Story
            %hr.section-heading-spacer/
            %h4.clear-left= project['headline'].blank? ?  "&nbsp;" : project['headline']
            %p.section-body-text.clear-left><
              = truncate(project['story'], length: 600)
              = link_to "Learn More","/projects/#{project['name'].parameterize}", class: "margin-leftgap10"
