---
title: Mitchell Contracting | Welcome
body_class: index
---
= partial "layouts/navigation"

= partial "layouts/header_carousel"

/ Page Content
.container.call-out-section
  .row
    .col-md-2.col-xs-4.text-center
      .call-out-circle.hidden-xs= image_tag 'bio-images/MCI-Ron-bio-avantar.png', alt: "Mitchell Contracting", class: 'call-out-avantar'
    .col-md-10.col-xs-10.col-md-offset-0.col-xs-offset-1
      %h3.call-out-content
        Developing long-term customer relationships through great communication, solid collaboration and solution driven construction processes.

.content-section-a
  .container
    .row
      .col-md-5.col-sm-6
        %h2.section-heading.margin-bottomgap0.med-blue
          Phasellus sagittis, nulla in
        %hr.section-heading-spacer/
        .clearfix
        %p.section-body-text
          Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Maecenas elementum augue nec nisl. Proin auctor lorem at nibh. Curabitur nulla purus, feugiat id, elementum in, lobortis quis, pede. Vivamus sodales adipiscing sapien. Vestibulum posuere nulla eget wisi. Integer volutpat ligula eget enim. Suspendisse vitae arcu. Quisque pellentesque. Nullam consequat, sem vitae rhoncus tristique, mauris nulla fermentum est, bibendum ullamcorper sapien magna et quam. Sed dapibus vehicula odio. Proin bibendum gravida nisl. Fusce lorem. Phasellus sagittis, nulla in hendrerit laoreet, libero lacus feugiat urna, eget hendrerit pede magna vitae lorem. Praesent mauris.
      .col-md-7.col-sm-6.pull-right
        = image_tag 'MCI-senior-living-2.png', class: "content-section-image img-responsive", alt: "Mitchell Construction"
        %p.text-center.work-class Project Specific Caption

.content-section-b
  .container
    .row
      .col-md-8.col-sm-push-3.col-sm-8
        %h2.section-heading.margin-bottomgap0.med-blue
          We've served the Pudget Sound Area for over 25 years.
          %i Our first client is still one of our client.
        %hr.section-heading-spacer
        .clearfix
    .row
      .col-md-4
        = image_tag 'client-logos/logo-car-quest.png', class: "img-responsive"
      .col-md-4
        = image_tag 'client-logos/logo-era-living.png', class: "img-responsive"
      .col-md-4
        = image_tag 'client-logos/logo-prudent-property.png', class: "img-responsive"
      .col-md-4
        = image_tag 'client-logos/logo-sayer-law.png', class: "img-responsive"
      .col-md-4
        = image_tag 'client-logos/logo-k2.png', class: "img-responsive"
      .col-md-4
        = image_tag 'client-logos/logo-williams-callan.png', class: "img-responsive"
      .col-md-4.col-md-offset-4
        = image_tag 'client-logos/logo-pacific-research-labs.png', class: "img-responsive"

    .row
      %hr.section-body-spacer
      .col-lg-12.col-sm-6.text-center
        %h3.section-base-heading Clients, Clients, Clients

.banner
  .banner-bar
    .container
      .row
        .col-md-12
          %h2 Getting the job done right, the first time...  on time, on budget!