---
title: Mitchell Contracting | Projects
body_class: projects
---

= partial "layouts/navigation"

- data.projects.each do |project|
  - if locals[:id] == project['id']
    / Header
    .carousel-container
      .carousel{ data:{ride:"carousel" } }
        .carousel-inner{role: "listbox"}
          - project['images'].each_with_index do |image, i|
            .item{class: i < 1 ? "active" : "" }
              = image_tag "project-images/MCI-#{project['name']}-#{image}.jpg", alt: "Mitchell Contracting | #{project['name']}", class: 'img-responsive'
              .carousel-caption
                .carousel-caption-content
                  %h2.work-class= project['market_sector']
                  %h3
                    -unless project['headline'].blank?
                      %i= project['headline']

    / Page Content
    .container.call-out-section
      .row
        .col-md-2.col-xs-4.text-center
          .call-out-circle.hidden-xs= image_tag "client-logos/logo-#{project['name'].parameterize}.png", alt: "Mitchell Contracting | #{project['name']}", class: 'call-out-client-logo'
        .col-md-10.col-xs-10.col-md-offset-0.col-xs-offset-1
          %h3.call-out-content "#{project['testimonial']}"
    .content-section-a
      .container
        .row
          .col-md-12.col-sm-12
            %h2.section-heading.margin-gap0.med-blue= project['client']
        .row.project
          .col-md-3.col-sm-6
            %h3.section-heading.margin-bottomgap0.med-blue
              Project Outline
            %hr.section-heading-spacer/
            .clearfix
            %ul.list-unstyled.project-outline-list
              - unless project['project_name'].blank?
                %li.list-title Project
              %li= project['project_name']
              - unless project['client'].blank?
                %li.list-title Client
              %li= project['client']
              - unless project['architect'].blank?
                %li.list-title Architect
              %li= project['architect']
              - unless project['engineer'].blank?
                %li.list-title Engineer
              %li= project['engineer']
              - unless project['location'].blank?
                %li.list-title Location
              %li= project['location']
              - unless project['duration'].blank?
                %li.list-title Duration
              %li= project['duration']
              - unless project['market_sector'].blank?
                %li.list-title Market Sector
              %li= link_to project['market_sector'], "/our-services"
              - unless project['core_market'].blank?
                %li.list-title Core
              - project['core_market'].each do |core|
                %li= core

          .col-md-8.col-sm-6
            %h3.section-heading.margin-bottomgap0.med-blue Project Story
            %hr.section-heading-spacer/
            %p.section-body-text.clear-left
              .col-md-5.pull-right= image_tag "project-images/MCI-#{project['name'].parameterize}-1.jpg", class: "img-responsive project-image"
              = project['story']
            %h3.section-heading.margin-bottomgap0.med-blue Project Objective
            %hr.section-heading-spacer/
            %p.section-body-text.clear-left= project['objective']
            %h3.section-heading.margin-bottomgap0.med-blue Project Solution
            %hr.section-heading-spacer/
            %p.section-body-text.clear-left= project['solution']
            %hr.section-body-spacer.padding-bottomgap10
            .col-md-4= image_tag "project-images/#{project['name'].parameterize}-2.jpg", class: "img-responsive project-image"
            .col-md-4= image_tag "project-images/MCI-#{project['name'].parameterize}-3.jpg", class: "img-responsive project-image"
            .col-md-4= image_tag "project-images/MCI-#{project['name'].parameterize}-4.jpg", class: "img-responsive project-image"


.banner
  .banner-bar
    .container
      .row
        .col-md-12
          %h2 Getting the job done right, the first time...  on time, on budget!