---
title: Mitchell Contractors | Projects
body_class: projects
---

= partial "layouts/navigation"

- data.projects.each do |project|
  - if locals[:id] == project['id']
    = partial "layouts/projects_carousel", :locals => {:project => project}

    / Page Content
    .container.call-out-section
      .row
        .col-md-2.col-xs-4.text-center
          = image_check(project['name'])
        .col-md-10.col-xs-10.col-md-offset-0.col-xs-offset-1
          %h3.call-out-content.text-center
            - unless locals[:page_slogan].blank?
              %i.fa.fa-quote-left
              %i= locals[:page_slogan]
              %i.fa.fa-quote-right
    .content-section-a.padding-bottomgap0
      .container
        .row
          .col-md-12.col-sm-12
            %h2.section-heading.margin-gap0.med-blue= project['client']
        .row.project
          .col-md-3.col-sm-6
            %h3.section-heading.margin-bottomgap0.med-blue
              Project Outline
            %hr.section-heading-spacer/
            .clearfix
            %ul.list-unstyled.project-outline-list
              - unless project['project_name'].blank?
                %li.list-title Project
              %li= project['project_name']
              - unless project['client'].blank?
                %li.list-title Client
              %li= project['client']
              - unless project['architect'].blank?
                %li.list-title Architect
              %li= project['architect']
              - unless project['engineer'].blank?
                %li.list-title Engineer
              %li= project['engineer']
              - unless project['location'].blank?
                %li.list-title Location
              %li= project['location']
              - unless project['duration'].blank?
                %li.list-title Duration
              %li= project['duration']
              - unless project['market_sector'].blank?
                %li.list-title Market Sector
              %li= link_to project['market_sector'], "/services#services"
              - unless project['core_market'].blank?
                %li.list-title Core
              - project['core_market'].each do |core|
                %li= core

          .col-md-8.col-sm-6
            - image_path = image_paths_in("images/project-images/MCI-#{project['name'].parameterize}/")
            - image_count = image_path.length
            %h3.section-heading.margin-bottomgap0.med-blue Project Story
            %hr.section-heading-spacer/
            %p.section-body-text.clear-left
              - unless image_count < 2
                = image_tag "project-images/MCI-#{project['name'].parameterize}/MCI-#{project['name'].parameterize}-02.jpg", class: "img-responsive project-image col-md-5 pull-right"
              = project['story']
            %h3.section-heading.margin-bottomgap0.med-blue Project Objective
            %hr.section-heading-spacer/
            %p.section-body-text.clear-left= project['objective']
            %h3.section-heading.margin-bottomgap0.med-blue Project Results
            %hr.section-heading-spacer/
            %p.section-body-text.clear-left= project['solution']
            %hr.section-body-spacer.padding-bottomgap10
            - image_path.each_with_index do |image_resource, i|
              - if i > 1
                .col-md-4.margin-bottomgap20= link_to (image_tag image_resource, class: "img-responsive project-image "), "#", data:{ toggle: "modal", target: "#projectModal_#{i}" }

                .modal.project-modal.fade{id: "projectModal_#{i}", tabindex: "-1", role: "dialog", aria:{ hidden:"true", labelledby: "projectModal_#{i}"} }
                  .modal-dialog
                    .modal-content
                      .modal-header
                        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"}
                          %i.fa.fa-remove
                      .modal-body
                        = image_tag image_resource, class: "img-responsive"

= partial "layouts/bottom_banner"